rules_version = '2';
service firebase.storage {
	match /b/{bucket}/o {
		
		// Check if user is online.
		function userIsOnline() {
			return request.auth != null;
		}

		// Check if user is the owner.
		function userIsOwner(userId) {
			return request.auth.uid == userId;
		}

		// Check profile pic file-format.
		function checkProfilePicFileFormat() {
			return request.resource.size < 10 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
		}



		// Profile pic dir.
		// fileName is equal to a userId.
		match /users/{userId}/{fileName} {
			allow read;
			allow create: if userIsOnline() && userIsOwner(userId) && checkProfilePicFileFormat();
			allow delete: if userIsOnline() && userIsOwner(userId);
		}
	}
}

